.footer_text {
    color: #2699FB;
    position: fixed;
    bottom: 0%;
    margin: 31px 117px 112px 140px;
}

.login_textfield {
    width: 95%;
}

.backbutton {
    top: -2%;
    margin-left: -39px;
}

.login_header {
    color: gray;
    font: bold 3em Arial, Helvetica, sans-serif;
}

.password_container {
    margin-top: 10px;
}

.email_container {
    margin-top: 50px;
}

.login_button {
    margin-top: 20px;
}